{% extends 'base.html.twig' %}
{% block title %}
  Mission Harpie
{% endblock %}
{% block headerTitle %}
  Création mission {{ typeMission }}
{% endblock %}
{% block content %}
   <main class="creation-mission">
 <form>
       <fieldset class="debut-fin" id="calendar">
        <legend>
          Dates
        </legend>
        {{ form_row(formFicheODE.dateDebut) }}
        {{ form_row(formFicheODE.dateFin) }}
      </fieldset> 

      <fieldset class="cible" id="cibles">
        <legend>
          Cibles
        </legend>
        <dl class="cibles-list" v-for="cible in cibles">
          <dt>
            ${cible.libelle}$
          </dt>
          <dd>
            Latitude: ${cible.latitude}$ <br>
            Longitude: ${cible.longitude}$
          </dd>
        </dl>
        <label>Libelle</label>
          <input require type="text" v-model="newCibleLibelle" placeholder="Libelle">
        <label>Latitude</label>
          <input require type="text" v-model="newCibleLatitude" placeholder="Latitude">
        <label>Longitude</label>
          <input require type="text" v-model="newCibleLongitude" placeholder="Longitude">
      
        <div @click=addCible><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3h18v18H3zM12 8v8m-4-4h8"/></svg></div>
      </fieldset>
    </form>



      {# <fieldset class="cible">
        <legend>
          Cible
        </legend>
        {{
          form_row(
            formCible,
            {
              label: ' ',
              id: 'cible',
              class: 'form-group-popup'
            }
          )
        }}
        <button  id="addCible" type="button" class="btn btn-plus">+</button>
      </fieldset> #}

{# 

      <fieldset class="effectif">
        <legend>
          Effectif
        </legend>
        {{
          form_row(
            formEffectif,
            {
              label: ' ',
              id: 'effectif'
            }
          )
        }}
        <button type="button" class="btn btn-plus">+</button>
        {{
          form_row(
            formEffectifPiroguier,
            {
              label: ' ',
              id: 'effectifPiroguier',
              class: 'form-group-popup'
            }
          )
        }}
        <button type="button" class="btn btn-plus">+</button>
        <div class="total-effectif">
          <p>
            Total effectif :
          </p>
          <p></p>
        </div>
      </fieldset>

      <fieldset class="transport">
        <legend>
          Transport
        </legend>
        {{
          form_row(
            formTransport,
            {
              label: ' ',
              id: 'transport',
              class: 'form-group-popup'
            }
          )
        }}
        <button type="button" class="btn btn-plus">+</button>
      </fieldset>

      <fieldset class="manoeuvre">
        <legend>
          Manoeuvre
        </legend>
        {{
          form_row(
            formManoeuvreParMission,
            {
              label: ' '
            }
          )
        }}
      </fieldset>

      <fieldset class="cadre-legal">
        <legend>
          Cadre légal
        </legend>
        {{ form_row(formFicheODE.cadreLegal) }}
        {{ form_row(formFicheODE.observation) }}
      </fieldset>

      <fieldset class="communication">
        <legend>
          Communication
        </legend>
        {{
          form_row(
            formCommunicationParMission,
            {
              label: ' ',
              id: 'communication',
              class: 'form-group-popup'
            }
          )
        }}
        <button type="button" class="btn btn-plus">+</button>
      </fieldset>

      {{ form_row(formFicheODE.soumettre) }} #}
  </main>
{% endblock %}
