{% extends 'base.html.twig' %}
{% block title %}
	Mission Harpie

{% endblock %}
{% block headerTitle %}
	Création mission
{% endblock %}
{# {% form_theme formForce 'bootstrap_5_layout.html.twig' %} #}
{% block content %}
	<main class="creation-mission">
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		<form>
			{{ form_row(formFicheODE.demandeur) }}
			<fieldset>
				<legend>
					Éléments généraux

				</legend>
				{{ form_row(formFicheODE.typeMission) }}
				{{ form_row(formFicheODE.force) }}
			</fieldset>
			<fieldset>
				<legend>
					Cadre Renseignement développement :
				</legend>
				{{ form_row(formFicheODE.denominationOperation) }}
				{{ form_row(formFicheODE.dateDebut) }}
				{{ form_row(formFicheODE.dateFin) }}
				{{ form_row(formFicheODE.cadreLegal) }}
				{{ form_row(formFicheODE.observation) }}


			</fieldset>
			{{ form_row(formFicheODE.etat) }}
			{{ form_row(formFicheODE.soumettre) }}
		</form>
	</main>
{% endblock %}
